Before representing data into a bi platform there is going to be analised the relative impact of independent variables on sales.

ANOVA analysis of the categorical variables

In [45]:
#Import libraries
import pandas as pd
import scipy.stats as stats

#Import src
import sys
sys.path.append("..")
from src import src_transforming as ep

In [46]:
df_stats=pd.read_csv('../data/DataMerged.csv',usecols=lambda col:not col.startswith('Unnamed'))

In [47]:
df_stats.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Order Date',
       'Purchase Address', 'Month', 'Sales', 'Hour', 'Unit Price',
       'Address_Number', 'Address_Street', 'Address_City', 'Address_State',
       'Address_Zip_Code', 'Product Category', 'Unit Cost (€)', 'Sate'],
      dtype='object')

In [48]:
#Change column name from Sate to State
ep.change_column_name(df_stats,'Sate','State')

Index(['Order ID', 'Product', 'Quantity Ordered', 'Order Date',
       'Purchase Address', 'Month', 'Sales', 'Hour', 'Unit Price',
       'Address_Number', 'Address_Street', 'Address_City', 'Address_State',
       'Address_Zip_Code', 'Product Category', 'Unit Cost (€)', 'State'],
      dtype='object')

In [49]:
df_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Order Date        185950 non-null  object
 4   Purchase Address  185950 non-null  object
 5   Month             185950 non-null  int64
 6   Sales             185950 non-null  float64
 7   Hour              185950 non-null  int64
 8   Unit Price        185950 non-null  float64
 9   Address_Number    185950 non-null  int64
 10  Address_Street    185950 non-null  object
 11  Address_City      185950 non-null  object
 12  Address_State     185950 non-null  object
 13  Address_Zip_Code  185950 non-null  int64
 14  Product Category  185950 non-null  object
 15  Unit Cost (€)     185950 non-null  int64
 16  State             185950 non-null  object
dtypes: float64(2), int64(7), object(8)
memory usage: 24.1+ MB

In [50]:
# Lista de variables categóricas
columns = ['Product', 'Month', 'Hour', 'Address_City', 'State', 'Address_Zip_Code', 'Product Category']
def anova_stats(df,categorical_vars):
    # Diccionario para almacenar los resultados de ANOVA
    anova_results = []

    # Iterar sobre cada variable categórica y calcular ANOVA
    for var in categorical_vars:
        groups = [df[df[var] == cat]['Sales'] for cat in df[var].unique()]
        
        # Realizar ANOVA solo si hay al menos dos categorías con datos
        if len(groups) > 1:
            f_stat, p_value = stats.f_oneway(*groups)
            significance = "Significant" if p_value < 0.05 else "Not Significant"
            anova_results.append([var, p_value, significance])

    # Convertir resultados en DataFrame y mostrar
    anova_df = pd.DataFrame(anova_results, columns=['Variable', 'p-value', 'Significance'])
    anova_df.to_csv('../data/anova_stats.csv')
    print(anova_df)

In [51]:
anova_stats(df_stats,columns)

           Variable   p-value     Significance
0           Product  0.000000      Significant
1             Month  0.342207  Not Significant
2              Hour  0.019383      Significant
3      Address_City  0.887222  Not Significant
4             State  0.851620  Not Significant
5  Address_Zip_Code  0.918387  Not Significant
6  Product Category  0.000000      Significant

Conclussions of the analysis:
- The type of product, product category and Hour have significative impact on the sales. Analysing these variables may have impact on optimizing the revenue

Dashboard design: This metrics are going to be calculated in Power Bi so that there can be skills proved in both analytical tools. However, it will be calculated in Pyton to validate the results. 
KPI: 

- Revenue
- Adquisition Cost
- Gross Margin
- Nº Unts Sold
- Avg Revenue per Unit
- Avg Margin per Unit
- Nº States
- Nº Cities

Distributions:

- Temporal Evolution of Sales
- Hourly Distribution of Sales
- Distribution of Product category by Revenue and Gross Profit
- Distribution of Product by Revenue and Gross Profit
- Geographical distribution of Revenue and Gross Profit
- Revenue and Gross Profit Map

## Metrics

In [52]:
df_stats.sample()

,Order ID,Product,Quantity Ordered,Order Date,Purchase Address,Month,Sales,Hour,Unit Price,Address_Number,Address_Street,Address_City,Address_State,Address_Zip_Code,Product Category,Unit Cost (€),State
158364,223162,Wired Headphones,1,2019-07-06 19:57:00,"453 Madison St, Portland, OR 97035",7,11.99,19,11.99,453,Madison St,portland,OR,97035,Headphones and Earbuds,8,Oregón

In [53]:
#Total Revenue
revenue=df_stats['Sales'].sum()
print(revenue)

34492035.97

In [54]:
#Total Adquisition Cost
adquisition_cost=(df_stats['Unit Cost (€)']*df_stats['Quantity Ordered']).sum()
print(adquisition_cost)

25000056

In [55]:
## Gross Margin
gross_margin=revenue-adquisition_cost
print(gross_margin)

9491979.969999999

In [56]:
##Nº Units sold
units_sold= df_stats['Quantity Ordered'].sum()

In [57]:
# Avg Revenue per Unit
avg_revenue_unit=revenue/units_sold
print(avg_revenue_unit)

164.97130735272313

In [58]:
avg_gmargin_unit=gross_margin/units_sold
print(avg_gmargin_unit)

45.39901171327584

In [59]:
# Nº States
df_stats['State'].nunique()

8

In [60]:
# Nº Cities
df_stats['Address_City'].nunique()

9

The metrics are calculated and will be further validated with the Power BI results.
As there have been changes in the dataframe it is exported to csv. This version is going to be used in the BI tool.

In [61]:
df_stats.to_csv('../data/Sales_BI.csv')

In [62]:
df_stats.head()

,Order ID,Product,Quantity Ordered,Order Date,Purchase Address,Month,Sales,Hour,Unit Price,Address_Number,Address_Street,Address_City,Address_State,Address_Zip_Code,Product Category,Unit Cost (€),State
0,295665,Macbook Pro Laptop,1,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,0,1700.00,136,Church St,new york city,NY,10001,Laptops and Computers,1300,Nueva York
1,295666,LG Washing Machine,1,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,7,600.00,562,2nd St,new york city,NY,10001,Home Appliances,450,Nueva York
2,295667,USB-C Charging Cable,1,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,18,11.95,277,Main St,new york city,NY,10001,Accessories,6,Nueva York
3,295668,27in FHD Monitor,1,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,15,149.99,410,6th St,san francisco,CA,94016,Computer Monitors,110,California
4,295669,USB-C Charging Cable,1,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,12,11.95,43,Hill St,atlanta,GA,30301,Accessories,6,Georgia